* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header{
    background: #E1FF8F;
    background-image: url(img/star1.png), url(img/star2.png), url(img/starbig.svg);
    background-position: 63px 69px, calc(100% - 344px) calc(100% - 149px), 101% -10px;
    background-repeat: no-repeat;
}

.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.distance__title{
    font-size: 64px;
    padding-top: 196px;
    max-width: 769px;
    font-weight: 700;
    line-height: 78px;
    width: 769px;
}

.distance__description{
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 48px;
    width: 720px;
}

.header__button{
    background: rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 60px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 15px;
    width: 247px;
    height: 66px;
    margin-bottom: 156px;
}

.button:hover {
    color: black;
    background: white;
}

.banner {
    gap: 10px;
    border: 1px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    background: rgb(188, 236, 48);
    display: flex;
    align-items: center;
    height: 90px;
    overflow: hidden;
  }
  .banner__text {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;
    padding-right: 51px;
    padding-left: 51px;
    white-space: nowrap;
  }

.games__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background: #202027;
    height: 1470px;
    background-image: url(img/Star\ 12.svg), url(img/Star\ 11.svg), url(img/Star\ 12mini.svg);
    background-repeat: no-repeat;
    background-position: calc(100% + 10px) 150px, calc(0% + 25px) 770px, calc(0% + 40px) 820px;

}

.games {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 86px;
}

.games__text{
    font-size: 24px;
    padding-top: 24px;
    color: #FFF;
    line-height: 32px; 
    padding-bottom:72px;
}

.games__container__games{
    max-height: 1060px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 32px;
    align-items: start;
}

.card {
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    background-color: #FFFFFF ;
    border-radius: 30px;
    text-decoration: none;
}

.img__card_top {
    margin-top: -40px;
}

.card__img {
    border-radius: 30px;
    height: 314px;
}

.card__number {
    width: 111px;
    height: 36px;
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 500;
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 16px;
}

.card__text {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin: 0 36px 32px;
    max-width: 372px;
}

.card__item_1 {
    background: url(img/Oblozhka_kartochki.svg);
}

.card__item_2 {
    background: url(img/простаяарифметика.png);
}

.card__item_3 {
    background: url(img/перевернитекст.png);
}

.card__item_4 {
    background: url(img/камень.png);
}

.card__item_5 {
    background: url(img/викторина.png);
}

.card__item_6 {
    background: url(img/генератор.png);
}

.minigame {
    position: relative;
    padding-top: 46px;
    padding-bottom: 144px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgb(32, 32, 39);
}

.fon__star {
  background-image: url(./img/Star11.png), url(./img/Star12.png), url(./img/Star11.png), url(./img/Star12.png);
  background-repeat: no-repeat;
  background-position: calc(90% + 23px) 96px, calc(90% + 91px) 115px, calc(90% + 56px) 3372px, calc(84% + 212px) 3336px;
}

.minigame__title {
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  margin-bottom: 72px;
}
.minigame__conteiner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.preview-game {
  height: 500px;
  display: flex;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  justify-content: space-between;

}

.preview-game4{
  justify-content: flex-start;
}
.preview-game__text {
  padding: 48px;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}


.preview-game__title {
  color: rgb(32, 32, 39);
  font-family: inherit;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
}
.preview-game__description {
  color: rgb(32, 32, 39);
  font-family: inherit;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-top: 24px;
}
.preview-game__button {
  margin-top: 36px;
  padding: 16px 28px 16px 28px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  width: 247px;
  height: 66px;
}
.preview-game__button:hover {
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}
.preview-game__img {
  width: 600px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 30px;
}

.footer {
  height: 150px;
  background-color: rgb(189, 237, 53);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__title {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

@media (max-width: 767px) {
    .center {
      padding-left: 16px;
      padding-right: 16px;
    }
    .header {
      height: 700px;
      background-image: none;
      background-image: url("img/Vectorfon.svg"), url("img/Star 2.svg"), url("img/Star 3.svg"), url("img/Star 4.svg"), url("img/Star 5.svg");
      background-position: calc(100% - 0px) 0px, calc(0% + 37px) 94px , calc(0% + 78px) 69px, calc(100% - 50px) 590px, calc(100% - 100px) 570px;
      background-size: auto, 10%, 5%, 10%, 5%;
    }

    .distance {
      margin-left: 30px;
    }
    .distance__title {
      width: 262px;
      padding-top: 147px;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      line-height: 49px;
      font-family: Montserrat;
    }
    .distance__description {
      width: 296px;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }

    .form__button{
      display: flex; 
      justify-content: center;
      align-items: center;
    }

    .header__button {
      width: 285px;
      height: 55px;
      font-size: 16px;
      font-weight: 600;
      line-height: 141.69%;
      pointer-events: none;

    }
    .banner {
      height: 51px;
      top: 649px;
      left: -6px;
      padding: 16px 24px 16px 24px;
    }
    .banner__text {
      font-size: 16px;
      font-weight: 700;
      line-height: 110%;
    }
    .games__container {
        display: none;
      }
      .minigame {
        padding-top: 48px;
        padding-bottom: 48px;
      }
      .minigame__title {
        padding-bottom: 48px;
        font-size: 40px;
        line-height: 49px;
        margin-bottom: 0px;
      }
      .card {
        position: relative;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
      }
      .preview-game--right {
        flex-direction: column;
      }
      .preview-game__text {
        padding: 29px 29px 32px 29px;
      }
      .preview-game__title {
        font-size: 32px;
        line-height: 39px;
      }
      .preview-game__description {
        font-size: 16px;
        line-height: 20px;
      }
      .preview-game__img {
        height: 285px;
        width: 343px;
        
      }
      .preview-game__button {
        width: 285px;
        height: 55px;
        padding: 16px 28px 16px 28px;
        font-size: 16px;
      }
      .footer {
        height: 100px;
      }
      .footer__title {
        font-size: 16px;
        line-height: 20px;
      }
}